<div class="container">
  <h1>Welcome to the Weather App!</h1>

  <br>

  <input id="current-zip" class="hidden"></input>
  <div id="current-temp">Current: <span>-</span>째</div>
  <div id="high">High: <span>-</span>째</div>
  <div id="low">Low: <span>-</span>째</div>
  <div id="average">Average: <span>-</span>째</div>

  <br>

  <button type="button" class="btn  btn-small btn-primary" id="update">Update</button>

  <br>
  <br>

  <form id="search-form" action="#">
    <input type="number" placeholder="Enter Zip" id="zip" name="zip" required></input>
    <input type="submit" class="btn btn-small" id="search" value="Submit"></input>
    <button type="button" class="btn btn-small btn-success" id="save">Save</button>
  </form>

  <h1>Saved Locations</h1>
  <div id="saved-zip-list">
    <ul>
    <% @locations.each do |location| %>
      <li class="location"><%= location.zip %></li>
    <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#search-form').submit(function(e) {
      var zip = $('#zip').val();
      search(zip);
      e.preventDefault();
    })

    $('#update').click(function() {
      var zip = $('#current-zip').val();
      search(zip);
     })

    $('.location').click(function() {
      var zip = $(this).text();
      search(zip);
    })

    $('#save').click(function() {
      var zip = $('#zip').val();
      var csrf_token = $('meta[name="csrf-token"]').attr('content');

      $.post( "/locations", { zip: zip, authenticity_token: csrf_token })
        .done(function(data) {
          $('#saved-zip-list ul').append(
            "<li class='location'>" + data.location.zip + "</li>"
          );
          console.log("Data Loaded: ", data);
        })
        .fail(function(data) {
          console.error("Data Failed: ", data);
        });
     })
  });

  function search(zip) {
    $.get( "/search", { zip: zip })
      .done(function(data) {
        $('#high span').text(data.forcast.high);
        $('#low span').text(data.forcast.low);
        $('#average span').text(data.forcast.average);
        $('#current-temp span').text(data.forcast.current_temp);
        $('#current-zip').val(data.forcast.zip);
        console.log("Data Loaded: ", data);
      })
      .fail(function(data) {
        console.error("Data Failed: ", data);
      });
  }
</script>
