<div class="container">
  <h1>Welcome to the Weather App!</h1>

  <br>

  <input type="checkbox" id="show-celcius" name="show-celcius" checked>
  <label for="show-celcius">Show in Celcius</label><br>

  <input id="current-zip" class="hidden"></input>

  <div id="current-temp">Current: <span>-</span>째</div>
  <div id="high">High: <span>-</span>째</div>
  <div id="low">Low: <span>-</span>째</div>
  <div id="average">Average: <span>-</span>째</div>

  <br>

  <button type="button" class="btn  btn-small btn-primary" id="update">Update</button>

  <br>
  <br>

  <form id="search-form" action="#">
    <input type="number" placeholder="Enter Zip" id="zip" name="zip" required></input>
    <input type="submit" class="btn btn-small" id="search" value="Submit"></input>
    <button type="button" class="btn btn-small btn-success" id="save">Save</button>
  </form>

  <h1>Saved Locations</h1>
  <div id="saved-zip-list">
    <ul>
    <% @locations.each do |location| %>
      <li class="location"><%= location.zip %></li>
    <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#search-form').submit(function(e) {
      var zip = $('#zip').val();
      search(zip);
      e.preventDefault();
    });

    $('#update').click(function() {
      var zip = $('#current-zip').val();
      search(zip);
    });

    $(document).on('click', '.location', function() {
      var zip = $(this).text();
      search(zip);
    });

    $('#save').click(function() {
      var zip = $('#zip').val();
      var csrf_token = $('meta[name="csrf-token"]').attr('content');

      $.post( "/locations", { zip: zip, authenticity_token: csrf_token })
        .done(function(data) {
          $('#saved-zip-list ul').append(
            "<li class='location'>" + data.location.zip + "</li>"
          );
        })
        .fail(function(data) {
          console.error("Data Failed: ", data);
        });
     });

    $('#show-celcius').on('change', function(){
      var isCelcius = $(this).prop("checked");

      if ($('#current-zip').val() === "") { return }

      $('span').each(function() {
        if (isCelcius) {
          $(this).html(convertToCelcius($(this).html()));
        } else {
          $(this).html(convertToFahrenheit($(this).html()));
        }
      });
    })
  });

  function search(zip) {
    $.get( "/search", { zip: zip })
      .done(function(data) {
        $('#high span').text(checkDisplayFormat(data.forecast.high));
        $('#low span').text(checkDisplayFormat(data.forecast.low));
        $('#average span').text(checkDisplayFormat(data.forecast.average));
        $('#current-temp span').text(checkDisplayFormat(data.forecast.current_temp));
        $('#current-zip').val(data.forecast.zip);
      })
      .fail(function(data) {
        console.error("Data Failed: ", data);
      });
  }

  function checkDisplayFormat(value) {
    var isCelcius = $('#show-celcius').prop("checked");

    if (isCelcius) { return  Math.round(value * 10) / 10; }

    return convertToFahrenheit(value);
  }

  function convertToFahrenheit(value) {
    var temp = Number(value) * (9 / 5) + 32;
    return Math.round(temp * 10) / 10;
  }

  function convertToCelcius(value) {
    var temp = (Number(value) - 32) * (5 / 9);
    return Math.round(temp * 10) / 10;
  }
</script>
